{% extends 'base.html.twig' %}

{% block title %}Hello CategoryController!{% endblock %}

{% block body %}
<h1>Liste des catégories</h1>
<a style="display:flex; align-items:center; justify-content:center;width:200px; height:40px; background-color:black; border-radius:15px; color:white;" href="{{ path('category_new') }}">Créer une catégorie</a>

{% for category in categories %}

    <li><a href="{{ path('category_show', {'id': category.id}) }}">{{category.name}}</a></li>

    {% else %}

     <li>Pas encore de catégorie</li>
    
    {% endfor %}

{% endblock %}
