{% extends 'base.html.twig' %}

{% block title %}Ajout Catégorie{% endblock %}

{% block body %}

<h1>Ajout d'une nouvelle catégorie</h1>

<div style="display:flex; gap:30px;">
{{form(form)}} 
</div>
 {# pour tester {attr:{'novalidate': 'novalidate'}} #}

{% endblock %}