{% extends 'base.html.twig' %}

{% block title %}Ajout Catégorie{% endblock %}

{% block body %}

<h1>Ajout d'une nouvelle catégorie</h1>

{{form(form)}} 
 {# pour tester {attr:{'novalidate': 'novalidate'}} #}

{% endblock %}