{% extends 'base.html.twig' %}

{% block title %}Liste de tâches !{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>


    <h1>Toutes les tâches</h1>

    {% for task in tasks %}

    <div>
    <h2>{{task.title}}</h2>
    <p> Fait {{task.isDone ? 'Oui' : 'Non'}}</p>
    <span>Crée le : {{task.createdAt | date('d/m/Y H:i:s')}}</span>
    <hr>
    </div>
    {% endfor %}
    

{% endblock %}
